[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sergio9145
[access "refs/for/refs/*"]
	read = group user/Sergio9145
	push = group user/Sergio9145
	label-Code-Review = -2..+2 group user/Sergio9145
	label-Verified = -1..+1 group user/Sergio9145
	rebase = group user/Sergio9145
	removeReviewer = group user/Sergio9145
	submit = group user/Sergio9145
[access "refs/heads/*"]
	read = group user/Sergio9145
	create = group user/Sergio9145
	push = +force group user/Sergio9145
	pushMerge = group user/Sergio9145
[access "refs/tags/*"]
	push = group user/Sergio9145
	push = +force group user/Sergio9145
