body {
    background-color: white;
    width: 800px;
    margin:auto;
}

a {
    text-decoration:none;
}

.a_btn {
    margin: 0 10 0 0;
}

li {
    display: inline-block;
}
/*

.icon_logo .icon_explore .icon_like .icon_profile{
  background-image: url(sprite.png);
  background-repeat: no-repeat;
}

.icon_logo {
    background-repeat: no-repeat;
    background-position: -177px 0;
    height: 35px;
    width: 176px;
}
*/

#Header {
    line-height: 90px; 
}

.header_item {
    float:left;
}

.a_icon {
    margin: 5px;
}

#Main {
    padding: 10px;
    clear: both;
}

#User {
    padding: 10px;
    clear: both;
}

#Content {
    clear: both;
    padding: 10px;
}

#search {
    margin: 0px 120px;
    width: 200px;
}

#button {
    background: transparent;
    border: none !important;
}

#profile_photo {
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

#user_name {
    padding: 10px;
    float: left;
}

#edit_profile {
    padding: 10px;
    float: left;
}

#settings {
    padding: 10px;
    float: left;
}

#posts {
    padding: 10px;
    float: left;
}

#followers {
    padding: 10px;
    float: left;
}

#following {
    padding: 10px;
    float: left;
}

.photo_content{
    height: 200;
    width: 200px;
    padding: 1px;
}

.footer_item {
    padding: 10px;
}